.user-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.user-input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.user-btn {
  flex: 0 0 120px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.user-btn:hover {
  background-color: #2980b9;
}
